# HOMEWORK 12 by: **MUHAMMAD GALANG GARDAMUKTI**

## **No.1**: Rewrites all the script in Session 12's presentation

### ***LIST***

In [19]:
#LIST DECLARATION
print('LIST DECLARING')
list1 = ['John', 'Paul', 'George', 'Ringo']
print('list1 ', list1,'\n')


#LIST ACCESSING
print('ACCESSING LIST')
list2 = ['Dewi', 3, True, 3.14, 'Jakarta']
print('list2 ', list2)
print(list1[0])
print(list1[1:3])
print(list2[:-1])
print(list2[:3])
print(list2[1:])
print('-----------\n')

#LOOP FOR LIST ACCESSING
print('LOOP FOR LIST')
for i in list1:
  print(i)
print('-----------')
for j in list2:
  print(j, end=' ')
print('')
print('-----------')
for i in range(len(list1)):
  print(list1[i])
print('-----------')
for j in range(len(list2)):
  print(list2[j])
print('-----------\n')

#NESTED LIST
print('NESTED LIST')
list3 = ['hello', list1, 'python', list2]
print('list3 = ', list3)
print('-----------')
for i in list3:
  print(i)
print('-----------')
for i in range(len(list3)):
  print(list3[i])
print('-----------\n')

#CHECKING ELEMENT ON LIST
print('USAGE OF LIST')
list2.append('Surabaya')
print('Add Surabaya = ',list2)
print('-----------')
list2.remove('Jakarta')
print('Remove "Jakarta" from list = ', list2)
print('-----------')
list2.insert(1, 'Joko')
print('Inserting Joko to index 1 = ', list2)
print('-----------')
list2.pop(0)
print('Removing index 0 of the list = ', list2)
print('-----------')
thislist = ["apple", "cherry"]
print(thislist)
thislist[0] = 'mango'
print('Changing the member 0 in the list into mango = ', thislist)
print('-----------\n')

#CONCATENATION
print('LIST CONCATE')
list3 = list1+list2
print('Hasil penjumlahan list ', list3)
list1.extend(list2)
print('Hasil ekspansi list1 dengan list2 ',list1)
print('-----------\n')

#METHOD USAGE IN LIST
print('LIST METHOD USAGE')
list1 = ['John', 'Paul', 'George', 'Ringo']
print(list1)
print('cout Paul ' , list1.count('Paul'))
print('index Paul ', list1.index('Paul'))
list1.reverse()
print('reverse : ', list1)
list1.sort()
print('sort : ', list1)

LIST DECLARING
list1  ['John', 'Paul', 'George', 'Ringo']

ACCESSING LIST
list2  ['Dewi', 3, True, 3.14, 'Jakarta']
John
['Paul', 'George']
['Dewi', 3, True, 3.14]
['Dewi', 3, True]
[3, True, 3.14, 'Jakarta']
-----------

LOOP FOR LIST
John
Paul
George
Ringo
-----------
Dewi 3 True 3.14 Jakarta
-----------
John
Paul
George
Ringo
-----------
Dewi
3
True
3.14
Jakarta
-----------

NESTED LIST
list3 =  ['hello', ['John', 'Paul', 'George', 'Ringo'], 'python', ['Dewi', 3, True, 3.14, 'Jakarta']]
-----------
hello
['John', 'Paul', 'George', 'Ringo']
python
['Dewi', 3, True, 3.14, 'Jakarta']
-----------
hello
['John', 'Paul', 'George', 'Ringo']
python
['Dewi', 3, True, 3.14, 'Jakarta']
-----------

USAGE OF LIST
Add Surabaya =  ['Dewi', 3, True, 3.14, 'Jakarta', 'Surabaya']
-----------
Remove "Jakarta" from list =  ['Dewi', 3, True, 3.14, 'Surabaya']
-----------
Inserting Joko to index 1 =  ['Dewi', 'Joko', 3, True, 3.14, 'Surabaya']
-----------
Removing index 0 of the list =  ['Joko', 3, True, 3.14, 'Surabaya']
-----------
['apple', 'cherry']
Changing the member 0 in the list into mango =  ['mango', 'cherry']
-----------

LIST CONCATE
Hasil penjumlahan list  ['John', 'Paul', 'George', 'Ringo', 'Joko', 3, True, 3.14, 'Surabaya']
Hasil ekspansi list1 dengan list2  ['John', 'Paul', 'George', 'Ringo', 'Joko', 3, True, 3.14, 'Surabaya']
-----------

LIST METHOD USAGE
['John', 'Paul', 'George', 'Ringo']
cout Paul  1
index Paul  1
reverse :  ['Ringo', 'George', 'Paul', 'John']
sort :  ['George', 'John', 'Paul', 'Ringo']

### ***TUPLE***

In [17]:
#INITIATING TUPLE
print('INITIATING TUPLE')
tup1 = ('John', 'Paul', 'George','Ringo')
tup2 = ('Dewi', 3, True, 3.14, 'Jakarta')
print('tup1 =  ',tup1)
print(tup1[0])
print(tup1[1:3])
print('tup2 = ',tup2)
print(tup2[-1])
print(tup2[:3])
print(tup2[1:])
print('----------- \n')

#USAGE OF TUPLE
print('TUPLE USAGE')
thistuple = ('apple', 'banana', 'cherry', 'apple', 'cherry')
print('Duplicate member is allowed ', thistuple)
print('Length of this tuple is ', len(thistuple))
lists = ['apple', 'banana', 'cherry', 'apple', 'cherry']
print('You can make list of this ', lists)
thistuple = tuple(lists)
print('into this tuple ', thistuple)
print('count cherry : ', thistuple.count('cherry'))
print('index apple : ', thistuple.count('apple'))

INITIATING TUPLE
tup1 =   ('John', 'Paul', 'George', 'Ringo')
John
('Paul', 'George')
tup2 =  ('Dewi', 3, True, 3.14, 'Jakarta')
Jakarta
('Dewi', 3, True)
(3, True, 3.14, 'Jakarta')
-----------

TUPLE USAGE
Duplicate member is allowed  ('apple', 'banana', 'cherry', 'apple', 'cherry')
Length of this tuple is  5
You can make list of this  ['apple', 'banana', 'cherry', 'apple', 'cherry']
into this tuple  ('apple', 'banana', 'cherry', 'apple', 'cherry')
count cherry :  2
index apple :  2

### ***SET***

In [31]:
#DECLARING SET
print('DECLARING A SET')
set1 = {'John', 'Paul', 'George','Ringo'}
print('set1 = ', set1)
set2 = {'Dewi', 3, True, 3.14, 'Jakarta'}
print('set2 = ', set2)
for i in set1:
  print(i)
print('-----------')
for j in set2:
  print(j, end = ' ')
print('\n-----------')
if ('dewi' in set2):
  print('dewi ada')
else:
  print('dewi tidak ada')
print('----------- \n')

#SET USAGE
print('HOW TO USE A SET')
print(set2)
set2.add('Surabaya')
print('Adding Surabaya to the Set ', set2)
set2.update({'Bali', False})
print('Adding more than one input to the set ', set2)
set2.remove('Dewi')
print('Removing Dewi from the set ', set2)
print('----------- \n')

#SET CHARACTERISTIC
thisset = {'apple', 'banana', 'cherry', 'apple'}
print('The Input supposed to have 2 apple in it, but ', thisset)
print('The Size of thisset is ', len(thisset))
this_set = ['apple', 'banana', 'cherry', 'apple']
print('The List is like this ', this_set)
thisset = set(this_set)
print('And turn it into set ', thisset)

DECLARING A SET
set1 =  {'Ringo', 'Paul', 'George', 'John'}
set2 =  {True, 3.14, 3, 'Dewi', 'Jakarta'}
Ringo
Paul
George
John
-----------
True 3.14 3 Dewi Jakarta
-----------
dewi tidak ada
-----------

HOW TO USE A SET
{True, 3.14, 3, 'Dewi', 'Jakarta'}
Adding Surabaya to the Set  {True, 3.14, 3, 'Surabaya', 'Dewi', 'Jakarta'}
Adding more than one input to the set  {False, True, 3.14, 3, 'Surabaya', 'Dewi', 'Jakarta', 'Bali'}
Removing Dewi from the set  {False, True, 3.14, 3, 'Surabaya', 'Jakarta', 'Bali'}
-----------

The Input supposed to have 2 apple in it, but  {'cherry', 'banana', 'apple'}
The Size of thisset is  3
The List is like this  ['apple', 'banana', 'cherry', 'apple']
And turn it into set  {'cherry', 'banana', 'apple'}

### ***DICTIONARY***

In [42]:
#INTIATING A DICIONARY
print('INITIATING A DICTIONARY')
cities = {
    'Indonesia': 'Jakarta',
    'Malaysia': 'Kuala Lumpur',
    'Filipina': 'Manila',
    'Vietnam': 'Hanoi',
    'Thailand': 'Bangkok'}
print(cities)
print(cities['Indonesia'])
print(cities['Thailand'])
print(cities.get('Vietnam'))
print('----------- \n')

#VALUES, KEYS, ITEMS
print('DICTIONARY POINTING')
print('Showing the category ', cities.keys())
print('Showing the member of the category', cities.values())
print('Showing all items ', cities.items())
print('----------- \n')

#DICTIONARY USAGE
print('HOW TO USE DICTIONARY')
cities = {
    'Indonesia':'Jakarta',
    'Malaysia':'Kuala Lumpur'}
print(cities)
cities['Korea'] = 'Seoul'
print('Adding Korea and its capital into the dict ', cities)
print('-----------')
cities['Indonesia'] = 'Yogyakarta'
print('Changing Indonesian Capital into Yogyakarta ', cities)
print('-----------')
cities.pop('Malaysia')
print('Deleting Malaysia from dict ', cities)
print('-----------')
thisdict = {
    'Brand': 'Suzuki',
    'Model': 'Ertiga',
    'Year': 2010,
    'Year': 2021
}
print('There are supposed to be two "YEAR" data, but it only appear the latest \n', thisdict)
print('----------- \n')

#CHECKING KEY AND MEMBER SIZE
print('HOW TO CHECK KEYS')
cities = {
    'Indonesia':'Jakarta',
    'Malaysia':'Kuala Lumpur',
    'Korea':'Seoul'}
if 'Indonesia' in cities:
  print('Ada Indonesia')
if 'Seoul' not in cities:
  print('Tidak ada Seoul di dalam key')
print('The size of cities dict is ', len(cities))

INITIATING A DICTIONARY
{'Indonesia': 'Jakarta', 'Malaysia': 'Kuala Lumpur', 'Filipina': 'Manila', 'Vietnam': 'Hanoi', 'Thailand': 'Bangkok'}
Jakarta
Bangkok
Hanoi
-----------

DICTIONARY POINTING
Showing the category  dict_keys(['Indonesia', 'Malaysia', 'Filipina', 'Vietnam', 'Thailand'])
Showing the member of the category dict_values(['Jakarta', 'Kuala Lumpur', 'Manila', 'Hanoi', 'Bangkok'])
Showing all items  dict_items([('Indonesia', 'Jakarta'), ('Malaysia', 'Kuala Lumpur'), ('Filipina', 'Manila'), ('Vietnam', 'Hanoi'), ('Thailand', 'Bangkok')])
-----------

HOW TO USE DICTIONARY
{'Indonesia': 'Jakarta', 'Malaysia': 'Kuala Lumpur'}
Adding Korea and its capital into the dict  {'Indonesia': 'Jakarta', 'Malaysia': 'Kuala Lumpur', 'Korea': 'Seoul'}
-----------
Changing Indonesian Capital into Yogyakarta  {'Indonesia': 'Yogyakarta', 'Malaysia': 'Kuala Lumpur', 'Korea': 'Seoul'}
-----------
Deleting Malaysia from dict  {'Indonesia': 'Yogyakarta', 'Korea': 'Seoul'}
-----------
There are supposed to be two "YEAR" data, but it only appear the latest
 {'Brand': 'Suzuki', 'Model': 'Ertiga', 'Year': 2021}
-----------

HOW TO CHECK KEYS
Ada Indonesia
Tidak ada Seoul di dalam key
The size of cities dict is  3

## **No.2**: Statistical Problem

In [46]:
import math
list1 = ['2', '3', '4', '5', '6']
for i in range(len(list1)):
  list1[i] = int(list1[i])
print(list1)

[2, 3, 4, 5, 6]

In [47]:
average = 0
variance = 0
std_dev = 0
size_of_list = len(list1)

sum_of_all = 0
for i in list1:
  sum_of_all += i

average = sum_of_all/size_of_list
print('average : ', average)

delta = 0
total_diff_sqrd = 0
for i in list1:
  delta = i-average
  total_diff_sqrd += delta**2

variance = total_diff_sqrd/size_of_list
print('variance : ', variance)

std_dev = math.sqrt(variance)
print('standard deviation : ', std_dev)

average :  4.0
variance :  2.0
standard deviation :  1.4142135623730951

## **No.3**: STUDENTS DATABASE

In [49]:
mhs1 = ['Dewi', 'Fisika', 2016, ['Database', 'Programming', 'Networking']]
mhs2 = ['Joko', 'Matematika', 2017, ['Database', 'Networking']]
mhs3 = ['David', 'Ekonomi', 2015, ['Programming', 'Networking']]
mhs4 = ['Maya', 'Bisnis', 2019, ['Database']]
dataMhs = [mhs1, mhs2, mhs3, mhs4]
print(dataMhs)

[['Dewi', 'Fisika', 2016, ['Database', 'Programming', 'Networking']], ['Joko', 'Matematika', 2017, ['Database', 'Networking']], ['David', 'Ekonomi', 2015, ['Programming', 'Networking']], ['Maya', 'Bisnis', 2019, ['Database']]]

In [53]:
for i in dataMhs:
  for j in range(len(i)):
    if j == 0:
      print('Nama        : ', i[j])
    elif j == 1:
      print('Jurusan     : ', i[j])
    elif j == 2:
      print('Tahun masuk : ', i[j])
    elif j == 3:
      for k in i[j]:
        print('Matakuliah  : ', k)
  print('')

Nama        :  Dewi
Jurusan     :  Fisika
Tahun masuk :  2016
Matakuliah  :  Database
Matakuliah  :  Programming
Matakuliah  :  Networking

Nama        :  Joko
Jurusan     :  Matematika
Tahun masuk :  2017
Matakuliah  :  Database
Matakuliah  :  Networking

Nama        :  David
Jurusan     :  Ekonomi
Tahun masuk :  2015
Matakuliah  :  Programming
Matakuliah  :  Networking

Nama        :  Maya
Jurusan     :  Bisnis
Tahun masuk :  2019
Matakuliah  :  Database