## HOMEWORK 15 by: **MUHAMMAD GALANG GARDAMUKTI**

Making a data frame using pandas from the base data below

In [60]:
import pandas as pd
import numpy as np

In [7]:
data = [
    {'Rahmat':['Data Scientist', 'Batch 1']},
    {'Hidayat':['Data Engineer', 'Batch 2']},
    {'Fathul':['Data Scientist', 'Batch 2']},
    {'Rizki':['Data Engineer', 'Batch 1']}]

When I tried to extract the keys using **i.keys()** it will always given an ouput of *dict_keys(__the keys__)*

I can only get the clean keys if I turn it into a list.
So I decided to make a solo lists out of the key and then group it into another list.
The same be done to the values.

After the grouping is done, I will extract each of its member's member into another list, so I get the clean keys and values.

In [77]:
output = []
temp_keys = []
temp_vals = []

#SEPARATING THE KEYS FROM THE VALUES
for i in data:
  temp_keys.append(list(i.keys()))
  temp_vals.append(list(i.values()))

keys_specific = []
vals_kelas = []
vals_batch = []

for i in temp_keys:
  for j in i:
    keys_specific.append(j)

for i in temp_vals:
  for j in i:
    vals_kelas.append(j[0])
    vals_batch.append(j[1])

dataAll = list(zip(keys_specific, vals_kelas, vals_batch))

pd.DataFrame(dataAll, columns = ['NAMA_PESERTA', 'KELAS_PESERTA', 'BATCH_PESERTA'])

  NAMA_PESERTA   KELAS_PESERTA BATCH_PESERTA
0       Rahmat  Data Scientist       Batch 1
1      Hidayat   Data Engineer       Batch 2
2       Fathul  Data Scientist       Batch 2
3        Rizki   Data Engineer       Batch 1